a:link, a:active, a:visited {
	text-decoration : none;
}

/* body: describes page background color and all non-table text not governed by any other style */
body {
    background-image: none;
    #ffffff;
}

/* class to suppress printing of display items not covered by the tngprint calling function */
.noprint { display: none; }

/* Equivalent of Hard Page Break - keeps headings and photos together on printed page */ 
p.beginpage {
	page-break-before: always;
}
